<h1>Listing copy_targets</h1>

<table>
  <tr>
    <th>Path</th>
    <th>Prio</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @copy_targets.each do |copy_target| %>
  <tr>
    <td><%= copy_target.path %></td>
    <td><%= copy_target.prio %></td>
    <td><%= copy_target.active %></td>
    <td><%= link_to 'Show', copy_target %></td>
    <td><%= link_to 'Edit', edit_copy_target_path(copy_target) %></td>
    <td><%= link_to 'Destroy', copy_target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Copy target', new_copy_target_path %>
