<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @copy_target.path %>
</p>

<p>
  <b>Prio:</b>
  <%= @copy_target.prio %>
</p>

<p>
  <b>Active:</b>
  <%= @copy_target.active %>
</p>


<%= link_to 'Edit', edit_copy_target_path(@copy_target) %> |
<%= link_to 'Back', copy_targets_path %>
