<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @scan_path.path %>
</p>

<p>
  <b>Interval:</b>
  <%= @scan_path.interval %>
</p>

<p>
  <b>Active:</b>
  <%= @scan_path.active %>
</p>

<p>
  <b>Last visit:</b>
  <%= @scan_path.last_visit %>
</p>


<%= link_to 'Edit', edit_scan_path_path(@scan_path) %> |
<%= link_to 'Back', scan_paths_path %>
